* text=auto

*.{diff,patch} binary

*.{py,yaml,yml,sh} text eol=lf
*.bat text eol=crlf

src/spox/opset/** linguist-vendored# GitHub syntax highlighting
pixi.lock linguist-language=YAML linguist-generated=true
