repos:
  - repo: https://github.com/Quantco/pre-commit-mirrors-ruff
    rev: 0.4.3
    hooks:
      - id: ruff-conda
      - id: ruff-format-conda
  - repo: https://github.com/Quantco/pre-commit-mirrors-mypy
    rev: "1.10.0"
    hooks:
      - id: mypy-conda
        additional_dependencies: [-c, conda-forge, types-setuptools]
  - repo: https://github.com/Quantco/pre-commit-mirrors-pyupgrade
    rev: 3.15.2
    hooks:
      - id: pyupgrade-conda
        args:
          - --py38
  - repo: https://github.com/Quantco/pre-commit-mirrors-prettier
    rev: 3.2.5
    hooks:
      - id: prettier-conda
        files: "\\.md$"
