[workspace]
name = "spox"
channels = ["conda-forge"]
platforms = ["osx-arm64", "osx-64", "linux-64", "linux-aarch64", "win-64"]

[tasks]
postinstall = "pip install --no-build-isolation --no-deps --disable-pip-version-check -e ."
postinstall-onnx-rc = "pip install -i https://test.pypi.org/simple/ --pre onnx"

[dependencies]
# we don't specify onnx here since we want to create test environments where we install it from pypi
ml_dtypes = ">=0.5.1"
numpy = "*"
packaging = "*"
pip = "*"
python = ">=3.10"
setuptools = ">=61"
setuptools-scm = "*"

[feature.lint.dependencies]
pre-commit = "*"
insert-license-header = "*"
mypy = "*"
prettier = "*"
ruff = "*"

[feature.lint.tasks]
pre-commit-install = "pre-commit install"
pre-commit-run = "pre-commit run -a"

[feature.docs.dependencies]
sphinx = "*"
sphinx_rtd_theme = "*"
sphinxcontrib-apidoc = "*"
nbsphinx = "*"
ipython = "*"
jupyterlab = "*"
matplotlib-base = "*"
make = "*"
onnxruntime = "*"
numpydoc = "*"

[feature.docs.tasks]
build-docs = "cd docs && make html"

[feature.onnx-conda.dependencies]
onnx = "*"

[feature.opset-generation.dependencies]
pandoc = "*"
jinja2 = "*"
python = "3.10.*"

[feature.opset-generation.tasks]
generate-opset = "python ./tools/generate_opset.py"

[feature.test.dependencies]
pytest = "*"
pytest-xdist = "*"
pytest-json-report = "*"
onnxruntime = "*"

[feature.test.tasks]
test = "pytest"

[feature.build.dependencies]
python-build = "*"

[feature.build.tasks]
build-wheel = "python -m build --no-isolation ."

[feature.py310.dependencies]
python = "3.10.*"
[feature.onnx-weekly.pypi-dependencies]
onnx-weekly = "*"
[feature.min-onnxruntime.dependencies]
onnxruntime = "==1.20.1"

[environments]
default = ["test", "lint", "onnx-conda"]
py310 = ["py310", "test", "onnx-conda"]
onnx-weekly = ["test", "onnx-weekly"]
min-onnxruntime = ["min-onnxruntime", "test", "onnx-conda"]
docs = ["docs", "onnx-conda"]
build = ["build", "onnx-conda"]
lint = ["lint", "py310", "onnx-conda"]
opset-generation = ["opset-generation", "lint", "onnx-conda"]
