((key, raw),) = ((k, v.value) for k, v in self.attrs.__dict__.items() if v is not None)
if key == "value":
    value = raw
elif key == "value_float":
    value = numpy.array(raw, dtype=numpy.float32)
elif key == "value_int":
    value = numpy.array(raw, dtype=numpy.int64)
elif key == "value_string":
    value = numpy.array(raw, dtype=numpy.str_)
elif key == "value_floats":
    value = numpy.array(list(raw), dtype=numpy.float32).reshape(-1)
elif key == "value_ints":
    value = numpy.array(list(raw), dtype=numpy.int64).reshape(-1)
elif key == "value_strings":
    value = numpy.array(list(raw), dtype=numpy.str_).reshape(-1)
elif key == "sparse_value":
    return {}
else:
    raise RuntimeError(f"Could not extract the set Constant value attribute, got: {key}")
return {"output": value}
