try:
    n_encodings = len(self.attrs.cats_int64s._value)
except TypeError:
    n_encodings = len(self.attrs.cats_strings._value)
shape = (*self.inputs.X.unwrap_tensor().shape.to_simple(), n_encodings)  # type: ignore
return {
    "Y": Tensor(elem_type=numpy.float32, shape=shape)
}
