name: CI
on:
  push:
    branches:
      - "*"
    tags:
      - "*"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pre-commit-checks:
    name: Pre-commit Checks
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v6
      - name: Set up pixi
        uses: prefix-dev/setup-pixi@82d477f15f3a381dbcc8adc1206ce643fe110fb7
        with:
          environments: default lint
      - name: pre-commit
        run: pixi run pre-commit-run --color=always --show-diff-on-failure

  unit-tests:
    name: pytest
    timeout-minutes: 30
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        environment:
          - py310
          - default
          - min-onnxruntime
    steps:
      - name: Checkout branch
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up pixi
        uses: prefix-dev/setup-pixi@82d477f15f3a381dbcc8adc1206ce643fe110fb7
        with:
          environments: ${{ matrix.environment }}
      - name: Install repository
        run: pixi run -e ${{ matrix.environment }} postinstall
      - name: Run pytest
        run: pixi run -e ${{ matrix.environment }} test

  opset-generation:
    name: "Linux - opset generation"
    runs-on: ubuntu-latest
    env:
      CI: True
    steps:
      - name: Checkout branch
        uses: actions/checkout@v6
      - name: Set up pixi
        uses: prefix-dev/setup-pixi@82d477f15f3a381dbcc8adc1206ce643fe110fb7
        with:
          environments: opset-generation default
      - name: Install repository
        run: pixi run -e opset-generation postinstall
      - name: Run code generation
        run: |
          pixi run -e opset-generation python tools/generate_opset.py
          pixi run -e default pre-commit-run
