name: onnx-weekly

on:
  # Run Tuesday morning (onnx-weekly appears to drop on Mondays)
  schedule:
    - cron: "0 5 * * 2"
  push:
    paths:
      - ".github/workflows/weekly.yml"

defaults:
  run:
    shell: bash -el {0}

jobs:
  onnx-weekly-test:
    name: "Linux - unit tests on onnx-weekly - ubuntu-latest"
    runs-on: ubuntu-latest
    env:
      CI: True
    steps:
      - name: Checkout branch
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0
      - name: Set up pixi
        uses: prefix-dev/setup-pixi@82d477f15f3a381dbcc8adc1206ce643fe110fb7
        with:
          environments: opset-generation
      - name: Install repository
        run: pixi run -e onnx-weekly postinstall
      - name: Run pytest
        run: pixi run -e onnx-weekly test
      - name: Issue on failure
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        if: ${{ failure() && github.ref == 'refs/heads/main' }}
        with:
          script: |
            github.rest.issues.listForRepo({
              owner: context.repo.owner,
              repo: context.repo.repo,
              state: "open",
              labels: "[bot] onnx-weekly run"
            }).then((issues) => {
              if (issues.data.length === 0){
                github.rest.issues.create({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  title: "CI failure for onnx-weekly",
                  body: "The weekly CI run with `onnx-weekly` failed. See https://github.com/Quantco/spox/actions/runs/${{github.run_id}} for details.",
                  labels: ["[bot] onnx-weekly run"]
                })
              }
            });

  onnx-rc-tests:
    name: "Linux - unit tests on onnx RC - ubuntu-latest"
    runs-on: ubuntu-latest
    env:
      CI: True
    steps:
      - name: Checkout branch
        uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0
      - name: Set up pixi
        uses: prefix-dev/setup-pixi@82d477f15f3a381dbcc8adc1206ce643fe110fb7
        with:
          environments: opset-generation
      - name: Install latest RC
        run: pixi run -e onnx-weekly postinstall-onnx-rc
      - name: Install repository
        run: pixi run -e onnx-weekly postinstall
      - name: Run pytest
        run: pixi run -e onnx-weekly test
      - name: Issue on failure
        uses: actions/github-script@v8
        if: ${{ failure() && github.ref == 'refs/heads/main' }}
        with:
          script: |
            github.rest.issues.listForRepo({
              owner: context.repo.owner,
              repo: context.repo.repo,
              state: "open",
              labels: "[bot] onnx-weekly run"
            }).then((issues) => {
              if (issues.data.length === 0){
                github.rest.issues.create({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  title: "CI failure for latest ONNX release candidate",
                  body: "The weekly CI run with the latest ONNX release candidate failed. See https://github.com/Quantco/spox/actions/runs/${{github.run_id}} for details.",
                  labels: ["[bot] onnx-weekly run"]
                })
              }
            });
